.green{background: rgba(0, 128, 0, 0.541) !important;}
.blue{background: blue;}
.red{background: rgba(53, 1, 1, 0.726);}
.yellow{background: rgba(197, 197, 4, 0.534);}
.red{background: rgba(238, 2, 2, 0.856);}

#tablapro{
  background: #1cc8893d, #6ccbda44, #f5bf3644, #e7493b4b
  